/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 //SOURCE: https://www.npmjs.com/package/react-date-range
 @import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css'; // theme css file
 //SOURCE: https://github.com/wojtekmaj/react-calendar
 @import 'react-calendar/dist/Calendar.css';
//
@import './extras/colors';
 /*RESET CONTENT*/
 //RESET FROM AA TIMES Provided solution - App Academy
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
    background-color: white;
}
 /*MODAL DESIGN, SUBJECT TO MODIFY*/
 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background_color;
  width: 30%;
  min-height: 50%;
  min-width: 250px;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-modal {
    position: relative;
}

.modal-header {
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: black;
    display: inline-block;
    width: 100%;
    color: $heading_color;
    padding: 5px 15px 5px 15px;
}

.close-x {
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 25px;
    color: $heading_color;

}

.login-section {
    text-align: center;
}

.login-label{
    font-weight: bold;
    width: 70%;
    display: inline-block;
    color: $heading_color;
   
}

.login-input {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    margin: 5px;
    display: block;
    height: 25px;
    border-radius: 10px;
    color: $font_color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal-errors {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.modal-optional-text {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.session-submit {
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    background-color: $section_color;
    border: 1px $heading_color solid;
    display: block;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
}

.modal-bottom-text {
    margin-top: 10px; 
    padding-bottom: 10px;
    span {
         color: blue;
    text-decoration: underline;

    }
}


/*MODAL END*/

/*NAV BAR*/

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-top: -20px;
    box-shadow: 2px 2px 2px lightgray;
    
    
    margin:auto;
}

.logo-and-title {
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    /* width: 20%; */
}

.logo {
    width: 50px;
    height: auto;
    display: inline-block;
    
}

.logo-title {
    display: inline-block;
    font-size: 30px;
    padding-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Search*/

.search-bar {
    width: 20%;
    border: 1px solid gray;
    border-radius: 10px;
    height: 30px;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px $heading_color;
    
}

.search-bar:hover {
     box-shadow: 1px 1px 5px $heading_color;
     transition: 0.2s;
}

.search-input {
    height: 30px;
    width: 85%;
    padding-left: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-dropdown {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 32px;
    box-shadow: 1px 1px 5px gray;
    li {
        background-color: white;
        padding: 10px;
        &:hover {
            background-color: lightgray;
        }
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

/*User Panel*/

.nav-utility {
    /* width: 25%; */
    display: flex;
    align-items: center;
}
.user-panel {
    width: 30%;
    padding-right: 5%;
    margin-left: 10px;
    position: relative;
    float: right;
    height: 50px;
}
.user-panel > button {
    
    float: right;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;

}

// .user-panel:hover .user-panel-options{
//     display: flex;
//     flex-direction: column;
//     width: 150px;
//     background-color: white;
//     color: $font_color;
    
// }

.user-panel-options{
    // display: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    color: $font_color;
    position: absolute;
    right: 40px;
    top: 50px;
    box-shadow: 2px 2px 2px gray;

}

.user-panel-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 400;
}

.user-panel-button:hover {
    color:$section_color;
    font-weight: 500;
}
.user-panel-name {
    text-align: right;
 width: 300px;
 font-style: italic;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Intro On Home Page*/

.intro-pane {
     position: relative;
}
.intro-image {
    width: 100%;
    height: auto;
   
}

.intro-image-text {
    position: absolute;
    width: 350px;
    top:100px;
    left: 125px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro-image-button {
    position: absolute;
    top: 210px;
    left: 125px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    cursor: pointer;

}

/*Explore Nearby*/
.explore-nearby-index {
    margin: 25px 0 25px 0;

}
.popular-text {
    font-size: 30px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}
.cities-container {
    padding-left: 50px;
    display: flex;
}
.city-container {
    width: 25%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.city-text {
    width: 100%;
    display: flex;
    vertical-align:top;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.explore-nearby-item-image {
    height: 225px;
    width: 225px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.city-name {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.city-known-for {
    font-style: italic;
}

/*Discover Experiences*/
.discover-experiences-section {
    margin-top: 20px;
     position: relative;
}
.discover-experiences-image {
    width: 100%;
    height: auto;
   
}

.discover-experiences-header {
    position: absolute;
    width: 450px;
    top:20px;
    left: 55%;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Live Anywhere*/

.live-anywhere {
    margin-top: 20px;
}

.live-anywhere-section {
    padding-left: 50px;
    display: flex;
}

.live-anywhere-header {
    font-size: 30px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}
.live-anywhere-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    
}

.live-anywhere-text {
    display: inline-block;
    width: 200px;
    vertical-align:top;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.live-anywhere-image {
    height: auto;
    width: 95%;
    height: 90%;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

//Properties Pane

// .properties-pane-index {
//     // height: 500px;
    
// }

.properties-search {
    padding-top: 75px;
    display: flex;
    height: 100%;
    
}

.property-pane {
    width: 50%;
    min-width: 750px;
    overflow-y: scroll;
    // min-height: 800px;
    height: 95vh;
}

.properties-pane-header {
    border-bottom: 1px solid $heading_color;
}

.properties-pane-header-text {
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.properties-pane-header-filter-form {
    padding-bottom: 10px;
    align-content: center;
}


.filter-buttons {
     display: flex;
     justify-content: space-evenly;
      width: 100%;
      min-width: 400px;
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: 1;
      
}

.filter-button{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border: gray solid 1px;
    background-color: white;
    min-width: 60px;
    text-align: center;

    &:hover {
        background-color: $section_color;
    }
}

//Properties Pane Index Item

.properties-pane-index-item {
    display: flex;
    border-bottom: 1px $heading_color solid;
    padding: 10px 0 10px 0;
    align-items: flex-start;
    height: 240px;
    
    
}
.property-intro {
    margin-top: 5px;
    flex-direction: column;
    height: 100%;
    width: 500px;

}



.properties-image-container {
    margin: 5px;
    box-shadow: 1px 1px 1px gray;
    border-radius: 20px;
    height: 90%;
    width: 300px;
}

.properties-image {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.property-intro-subtext {
    font-size: 16px;
    color: $heading_color;
    padding: 10px;
}

.property-intro-line {
    padding-left: 10px;
    color: $heading_color;
}

.property-intro-name {
    font-size: 24px;
    color: $font_color;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.property-intro-price {
    text-align: right;
    padding-top: 50px;
    margin-right: 25px;
    font-weight: bold;
    width: 100%;

}

//PROPERTIES PAGE

.property-page {
    width: 80%;
    padding-top: 100px;  
    margin: auto;  
}

.property-header-name {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px lightgray solid;
}

.property-header-back-button {
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    border: gray solid 1px;
    background-color: white;

    &:hover {
        background-color: $section_color;
    }
}

.property-header-subitems {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
}

.property-header-bar {
    display: flex; 
    justify-content: space-between;
}

.property-photos-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    
}

.main-property-photo {
    height: 100%;
    width: 49.5%;
    object-fit: cover;
}

.property-side-photos {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;   
}

.side-property-photo {
    width: 49.5%;
    height: 49.5%;
}


.property-mains-section {
    width: 95%;
    display: inline-block;
    
}
.property-mains-header {
    font-size: 24px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.property-room-details {
    padding: 15px 0 25px 0;
    width: 100%;
}

.property-description {
    width: 100%;
    padding: 30px 0 15px 0;
    border-top: 1px solid lightgray;
    max-width: 650px;
}

.property-amenities-section {
    width: 95%;
}

.property-amenities-header {
     font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px lightgray solid;
    padding-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.property-amenities-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
}
.property-amenity-item {
    width: 40%;
    padding: 10px;

}

.property-amenity-item-text {
    padding-left: 10px;
}

//Property Reviews
.property-reviews-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px lightgray solid;
}

.create-review-button {
      border-radius: 20px;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    border: gray solid 1px;
    background-color: white;

    &:hover {
        background-color: $section_color;
    }
}

.review-stars {
    padding-bottom: 10px;
    i {
        padding: 2px;
        color: orange;
        text-shadow: 0 0 1px #000;
    
    }
}


.property-reviews-header {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.property-reviews-list {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    align-items: flex-start;
}

.property-review {
    width: 40%;
    height: 100px;
    padding-right: 10%;
    
}

.review-writer {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.review-date {
    font-style: italic;
    margin-bottom: 10px;
}

// Property Search Filters

.city-filter {
    position: relative;
}

.place-filter {
    position: relative;
}


.filter-option {
    padding: 5px;
    &:hover {
        background-color: lightgray;
    }
}

    .filter-options {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: white;
    color: $font_color;
    position: absolute;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
    top: 40px;

}

//Review Modal

.create-review-text {
    height: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    font-weight: 100;
    font-size: 14px;
}

.review-modal-header {
    text-decoration: none;
    border-bottom: 1px lightgray solid;
    margin-bottom: 15px;
}

.review-stars-container {
    padding-top: 5px;
    padding-bottom: 5px;
}



//PROPERTY MAP

.map {
    width: 1000%;
    height: 95vh;
}

.marker-info {
    width: 250px;;
    height: 233px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
    padding-left: 5px;
}

.marker-header {
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin-top: 10px;
}

.marker-baseline {
    font-size: 14px;
    width: 100%;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p {
        width: 40%;
        
    }
}

.marker-photo {
    height: 160px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;

}


.property-details-section {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
}

.property-mains-and-amenities {
    width: 45%;
}
//Property calendar

.reservation-container {
    width: 45%;
    display: inline-block;

} 
.property-reservation-input-label {
    width: 100%;
    padding: 5px 0px 5px 0px;
    position: relative;
}

.property-reservation-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;

}

.property-reservation-submit {
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border: gray solid 1px;
    background-color: white;
    min-width: 60px;
    text-align: right;
    position: absolute;
    right: 0px;
    // margin-left: 50%;

    &:hover {
        background-color: $section_color;
    }

    &:disabled {
        background-color: lightgray;
        color: gray;
    }
}

.reservation-number-of-guests-select {
    width: 50px;
    height: 25px;
}

.react-calendar {
    margin: auto;
}




// .tile-class {
   
// }

.react-calendar__tile:disabled {
  text-decoration: line-through;
  text-decoration-color: gray;
}


//TRIPS PAGE

.trips-page {
    padding-top: 100px;
    width: 80%;
    margin: auto;
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
}

.trips-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px gray solid;
    margin-bottom: 10px;
    
    button {
        padding: 10px;
        border-bottom: 5px solid white;
    }

    .selected {
        border-bottom: $section_color solid 5px;
    }
}

.trips-header-nav {
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
        border: gray solid 1px;
        background-color: white;
        min-width: 60px;
        text-align: center;

        &:hover {
             background-color: $section_color;
    }
    }
}

.trips-index-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    height: 85vh;
    overflow-y: scroll;

    
}

.trip-container {
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        color: $section_color;
    }

    .trip-container-subs {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 15px;
    }

    img {
        width: 80%;
        height: 200px;
        margin: auto;
        border-radius: 20px;
        max-width: 300px;
    }
}

.rdrCalendarWrapper {
    padding-left: 5%;
    width: 95%;
    margin: auto;
    margin-top: 25px;
}

.create-reservation-header {
    font-size: 24px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}